body {
    margin: 0;
    font-family: 'Quicksand';
}

/***** font family ****/
@font-face {
    font-family: 'Quicksand';
    src: url('../font-family/Quicksand/Quicksand-Medium.ttf'),
        url('../font-family/Quicksand/Quicksand-Regular.ttf');
}
/********************/

.container-content {
    position: fixed;
    z-index: 50;
    width: 100%;
    background: #fff;
    left: 0;
    top: 0;
}


/*********** Header *********/

header {
    font-size: 25px;
}

.content-social {
    display: flex;
    justify-content: space-between;
    height: 115px;
    align-items: center;
    max-width: 92%;
    margin: auto;
}

.liste-social {
    display: flex;
    gap: 36px;
    color: #000;
    align-items: center;
}

.link-social {
    list-style: none;
}

.link-social a{
    text-decoration: none;
    color: #000;
}

/* .logo {
    height: 84px;
}

.logo {
    height: 100%;
} */

.liste-header {
    display: flex;
    list-style: none;
    gap: 50px;
    padding: 0px;
}

.link-header a{
    text-decoration: none;
    color: #fff;
}

.content-header {
    display: flex;
    justify-content: center;
    background-color: #2F2F2F;
    /* position: fixed; */
    width: 100%;
    left: 0;
}

/*********** BANNER **********/

.Banner {
    height: 100vh;
    display: flex;
    align-items: flex-end;
}

.content-banner {
    height: 100%;
}



/* SLIDER BANNER  */

.custom-slider { 
    display: block;
    height: 100%;
 }
        .slide-container {
            position: relative;
            margin: auto;
            height: 100%;
        }
        .prev, .next {
            cursor: pointer;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            width: 101px;
            height: 162px;
            display: flex;
            align-items: center;
            justify-content: center;
            color: white;
            font-size: 30px;
            background: rgba(255, 255, 255, 0.42);
            transition: background-color 0.6s ease;
        }
        .prev{ left: 0px; }
        .next { right: 0px; }
        .prev:hover, .next:hover {
            /* background-color: rgba(0,0,0,0.5); */
        }
        .slide-text {
            position: absolute;
            color: #ffffff;
            padding: 15px;
            bottom: 136px;
            width: 100%;
            text-align: center;
            font-weight: 500;
            background: rgba(0, 0, 0, 0.45);
        }
        .slide-text h2 {
            font-size: 45px;
            margin: 0;
        }

        .slide-text p {
            font-size: 30px;
            margin-top: 15px;
            margin-bottom: 0;
        }
        .slide-index {
            color: #ffffff;
            font-size: 13px;
            padding: 15px;
            position: absolute;
            top: 0;
        }
        .slide-img{
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
        }
        .slide-dot{ text-align: center; }
        .dot {
            cursor: pointer;
            height: 90px;
            padding: 10px;
            width: 90px;
            margin: 0 2px;
            background-color: #999999;
            display: inline-block;
            overflow: hidden;
            transition: background-color 0.6s ease;
        }

        .dot img{
            height: 100%;
            width: 100%;
            object-fit: cover;
        }
        .active, .dot:hover { background-color: yellow; }
        .fade {
            animation-name: fade;
            animation-duration: 1s;
        }
        @keyframes fade {
            from {opacity: 0}
            to {opacity: 1}
        }


/*********** CONTENT PAGE ************/

.container-page {
    max-width: 86%;
    margin: auto;
}

.content-page {
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
    flex-wrap: wrap;
    margin-bottom: 100px;
    gap: 40px;
}

.link-page {
    text-decoration: none;
    position: relative;
    width: 31%;
    border-radius: 20px;
    border: 1px solid #000;
    background: #FFF;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.50);
}

.description-page {
    font-size: 25px;
    padding: 20px;
}

.title-page-decri {
    color: #96AD38;
    margin-top: 0;
}

.paragraphe-page {
    color: #000;
    height: 130px;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
    margin-bottom: 70px;
}

.button-en-savoir-plus {
    background-color: #000;
    color: #fff;
    font-size: 25px;
    text-decoration: none;
    padding: 10px 15px;
    outline: none;
    border-radius: 10px;
    position: absolute;
    bottom: 20px;
}

.picture-page img {
    width: 100%;
}

.content-laboratoire {
    max-width: 92%;
    position: relative;
    margin: auto;
}

.title-default {
    font-weight: 600;
    /* font-size: 50px; */
}

.title-default::after {
    content: ' ';
    width: 243px;
    height: 22px;
    flex-shrink: 0;
    background: #96AD38;
    display: flex;
    margin-left: 30px;
}

/************* CONTENUE 1 *****************/

.image-page {
    height: 82%;
    position: relative;
}

.image-page img{
    height: 100%;
    width: 100%;
}

.image-page h2{
    position: absolute;
    color: #fff;
    font-weight: 600;
    font-size: 70px;
    margin: auto;
    top: 0;
    text-align: center;
    height: 100%;
    background: #0000004f;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content-contenue1 {
    max-width: 92%;
    margin: auto;
}

.content-contenue1 .title-default {
    font-size: 50px;
}

.content-contenue1 p {
    font-size: 30px;
}

.content-contenue1 .title-default::after {
    content: ' ';
    width: 304px;
    height: 23px;
    flex-shrink: 0;
    background: #96AD38;
    display: flex;
    margin-left: 81px;
}

.paragraphe-referance {
    display: flex;
}

/****** FOOTER ***********/

footer {
    background: #2F2F2F;
}


.content-footer {
    display: flex;
    flex-direction: column;
    max-width: 92%;
    margin: auto;
}

.reseaux-sociaux {
    display: flex;
    gap: 41px;
    margin-top: 82px;
}

.mini-menu-footer {
    display: flex;
    font-size: 30px;
    color: #fff;
    justify-content: space-between;
    flex-wrap: wrap;
}

.location-footer {
    display: flex;
    align-items: center;
    gap: 10px;
}

.liste-mini {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 0px;
}

.liste-mini a{
    text-decoration: none;
    color: #fff;
}

/********* CONTACT  *********/

.content-contact {
    max-width: 80%;
    margin: auto;
    padding-top: 100px;
}

.contact {
    padding-top: 96px;
    padding-bottom: 96px;
}

.content-contact .title-default {
    font-size: 50px;
}

.content-contact .title-default::after {
    width: 304px;
    height: 25px;
    margin-left: 250px;
}


.content-contact form {
    font-size: 30px;
} 

.formulair-contact {
    display: flex;
    padding-top: 50px;
    justify-content: space-between;
}

.content-contact form input{
    width: 527px;
    margin-top: 23px;
    margin-bottom: 23px;
    outline: none;
    font-size: 30px;
    padding-left: 21px;
    border-radius: 20px;
border: 1px solid #000;
    /* width: 100%; */
    height: 80px;
    flex-shrink: 0;
} 

.content-contact form label{
    margin-top: 43px;
} 

.content-contact form textarea{
    width: 100%;
    margin-top: 23px;
    padding-top: 15px;
    margin-bottom: 23px;
    outline: none;
    font-size: 30px;
    padding-left: 21px;
    border-radius: 20px;
border: 1px solid #000;
font-family: 'Quicksand';
} 


.content-contact form button{
    font-size: 30px;
    background-color: #000;
    border-radius: 20px;
    color: #fff;
    padding:14px 23px ;
} 


/************* FORM ************/

.content-form {
    max-width: 75%;
    margin: auto;
    padding-top: 200px;
}

.content-form .title-default{
    font-size: 50px;
}

.content-form .title-default::after {
    content: ' ';
    width: 304px;
    height: 25px;
    flex-shrink: 0;
    margin-left: 435px;
}

table {
    border: 1px solid #000;
    border-collapse: collapse;
    font-size: 30px;
    margin-bottom: 60px;
}

table h3{
    text-align: left;
}

table p{
    text-align: left;
}


tr {
    border: 1px solid #000;
}

th {
    padding:20px 37px ;
}

th:nth-child(2) {
    text-wrap:nowrap;
}

td {
    border: 1px solid #000;
    
}

thead tr:first-child{
    background: #d9d9d95e;
    border: 0px;
}

tr:first-child th:first-child{
    text-align: left;
}

table button {
    font-size: 30px;
    padding: 13px 49px;
    background-color: #2F2F2F;
    border-radius: 10px;
    color: #fff;
    outline: none;
}

.form-liste {
    margin-top: 100px;
}


/********** CONTENUE 2 **********/

.content-contenue2 {
    max-width: 92%;
    margin: auto;
    font-size: 30px;
    padding-bottom: 100px;
}


/************* HAMBURGER MENU ************/

#top {
    display: flex;
    background: #fff;
    align-items: center;
    position: fixed;
    z-index: 800;
    width: 100%;
    justify-content: space-between;
    left: 0;
}


#top a[class^="modal"] {
    display: block;
}
/* @media (min-width: 320px) */
#top .modalOpen {
    flex-grow: 0;
    /* padding: 0.875rem 1rem; */
    height: 40px;
    margin: 20px;
}
#top a {
    /* color: #FFF; */
    text-decoration: none;
}

#menus {
    display: flex;
    justify-content: center;
    position: fixed;
    left: -170vw;
    top: 0;
    opacity: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: #0008;
    box-shadow: inset 0 0 128px 128px #0008;
    transition: left 0s 0.5s, opacity 0.5s;
    text-align: center;
    /* position: relative; */
    z-index: 600;
}

#top a[class^="modal"] {
    display: flex;
}
/* @media (min-width: 320px) */
#menus > .modalClose {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}


#menus .menu-mobile-content {
    width: 100%;
    height: 46%;
    flex-direction: column;
    position: relative;
    top: 0;
    padding-bottom: 1em;
    background: #fff;
    box-shadow: 0 0.5em 1em 0.5em #0008;
    transition: top 0.5s;
}

#menus > .menu-mobile-content {
    display: flex;
}

#menus > .menu-mobile-content:before {
    /* content: "Main Menu"; */
    display: block;
    text-align: left;
    font-size: 1.25em;
    padding: 1rem 1.25rem;
    color: #003459;
}

#menus > .menu-mobile-content > .modalClose:before {
    /* content: " "; */
    background-image: url(../assets/images/icon/icons8-hamburger-menu-33.png);
}
/* @media (min-width: 320px) */
#top .modalOpen:before, #menus > .menu-mobile-content > .modalClose:before {
    font-size: 2em;
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
}

#menus:target {
    left: 0;
    opacity: 1;
    transition: left 0s, top 0.5s, opacity 0.5s;
}

.logo-mobile {
    margin: 20px;
}
.menu-mobile {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.modalOpen img {
    height: 100%;
}

.modalClose {
    display: flex;
    align-items: center;
}

.liste-social-mobile a{
    color: #000;
}

.liste-social-mobile {
    list-style: none;
    font-size: 25px;
    padding: 0px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* flex-direction: column; */
    gap: 20px;
}

.liste-header-mobile {
    font-size: 25px;
    display: flex;
    flex-direction: column;
    list-style: none;
    gap: 20px;
    padding: 0px;
    background-color: #2F2F2F;
    padding-top: 50px;
    margin: 0px;
    padding-bottom: 50px;
}

.liste-header-mobile a {
    list-style: none;
    color: #fff;
    text-decoration: none;
}

/******** TABLEAUX ************/

.bg-thead {
    background: #d9d9d95e;
}


/************** RESPONSIVE *****************/

@media (min-width:320px) {

    /****** banner ****/

    .Banner {
        overflow: hidden;
    }

    .slide-text h2{
        font-size: 28px;
    }

    .slide-text p{
        font-size: 25px;
    }

    .prev, .next {
        width: 70px;
        height: 100px;
    }

    .prev img, .next img{
        height: 50px;
    }

    .link-page {
        width: 100%;
    }

    /****** MENU  **********/

    .content-social {
        display: none;
    }

    .content-header {
        display: none;
    }

    #top {
        display: flex;
    }

    /******* FOOTER *********/

    .reseaux-sociaux {
        justify-content: center;
    }

    .mini-menu-footer {
        justify-content: center;
        font-size: 25px;
    }

    .liste-mini {
        text-align: center;
    }

    /****** FORM PAGE*********/

    .tableaux-mobile {
        display: table;
        font-size: 25px;
    }

    .tableaux-mobile tr {
        display: flex;
        flex-direction: column;
    }

    .tableaux-computer {
        display: none;
    }

    .content-form {
        max-width: 92%;
    }
}

@media (min-width:768px) {

    /***** BANNER *****/

    .slide-text h2{
        font-size: 45px;
    }

    .slide-text p{
        font-size: 30px;
    }

    .prev, .next {
        width: 101px;
        height: 162px;
    }

    .link-page {
        width: 31%;
    }
    
    /****** MENU  **********/

    .content-social{
        display: flex;
    }

    .content-header {
        display: flex;
    }

    #top {
        display: none;
    }

    /******* FOOTER *********/

    .reseaux-sociaux {
        justify-content: flex-start;
    }

    .mini-menu-footer {
        justify-content: space-between;
        font-size: 30px;
    }

    .liste-mini {
        text-align: left;
    }

    /****** FORM PAGE*********/

    .tableaux-mobile {
        display: none;
    }

    .tableaux-computer {
        display: block;
    }

    .content-form {
        max-width: 75%;
    }

}